{%extends 'dashboard/base.html'%}
{%block content%}

<div style="">

    {% if update %}
    <h1 class="card-title">Update color</h1>
    <form class="form-horizontal" action="/color_edit/{{color.id}}" method="POST">
        <div class="form-group row">
        <label for="blue-class" class="col-sm-3 text-end control-label col-form-label">Color Class:</label>
        <div class="col-sm-9">
        <input type="text" class="form-control" id="blue-class" name="color_class" value="{{color.class_name}}">
        </div>
        </div>

        <div class="form-group row">
        <label for="red-class" class="col-sm-3 text-end control-label col-form-label">Color:</label>
        <div class="col-sm-9">
        <input type="color" class="form-control" id="red-class" name="color" value="{{color.color}}"><br><br>
        </div>
        <button type="submit">Update Color</button>
    </form>
    {%else%}
    
    <h1>Add New Color Class</h1>
    <form class="form-horizontal" action="{{ url_for('edit_color') }}" method="POST">
        <div class="form-group row">
        <label for="blue-class" class="col-sm-3 text-end control-label col-form-label">Color Class:</label>
        <div class="col-sm-9">
        <input type="text" class="form-control" id="blue-class" name="color_class"><br><br>
        </div></div>

        <div class="form-group row">
        <label for="red-class" class="col-sm-3 text-end control-label col-form-label">Color:</label>
        <div class="col-sm-9">
        <input type="color" class="form-control" id="red-class" name="color">
        </div>
        </div></div>

        <div class="form-group row">
            <div class="col-sm-3">
        <button type="submit" class="btn btn-sm btn-primary">Add new class</button>
        </div>
        </div>
    </form>
    {%endif%}
    <hr>

 <h1 class="card-title">color classes</h1>

 <div id="responsive-table">
  <table class="table">
    <thead>
      <tr style="background-color: rgb(25, 0, 255);">
        <th scope="col">#</th>
        <th scope="col">Class Name</th>
        <th scope="col">Color Preview</th>
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody>
        {% for color in colors%}
      <tr style="background-color: rgb(255, 255, 255);">
       <td class="row">{{loop.index}}</td>
       <td>{{color.class_name}}</td>
       <td style="background-color: {{color.color}}; padding:4px;"></td>
       <td><a href="/color_edit/{{color.id}}" class="btn btn-sm btn-primary">edit color</a></td>
      </tr>
      {%endfor%}
      
      <!-- Add more rows as needed -->
    </tbody>
  </table>
</div>
{%endblock%}