{%extends 'dashboard/base.html'%}
{%block content%}
<div>
    <table class="table">
      <thead>
        <tr style="background-color: rgb(25, 0, 255);">
          <th scope="col">Id</th>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Password</th>
          <th scope="col">is_admin</th>
   
          
        </tr>
      </thead>
      <tbody>
        
        <tr style="background-color: rgb(255, 255, 255);">
          <td scope="row">{{users.id}}</td>
          <td class="image-column">
            <a href="/profile/{{user.id}}"><img src="{{ url_for('uploaded_users_images', filename=users.image) }}" width="30px" height="30px" alt="Image 1">
            </a>
          </td>
          <td>{{users.username}}</td>
          <td>{{users.email}}</td>
          <td>{{users.password}}</td>
          <td>{{users.is_admin}}</td>
      
        
        </tr>
   
        
        <!-- Add more rows as needed -->
      </tbody>
    </table>
  <br><br>
    <div>
      <h1 style="margin: 0% 30% 0% 40%; color: red;">User Buying History</h1>
      <br><br><br><br>
    </div>
  </div>
{%endblock%}