{% extends 'nav.html' %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<style>
  #main_div
  {

    background-color: white;
    opacity: 0.8;
    color: black;
    padding: 30px;
    width: 85%;

  }
</style>


<link rel="stylesheet" href="{{ url_for('static', filename='css/productform.css')}}">

<div class="lcontainer">

{% if edit %}
<div id="main_div">
<form method="POST" enctype="multipart/form-data" action="/edit_product/{{product.id}}">
  <div class="form-group" style="width: 80%;">
    <label for="title" style="">Title:</label>
    <input type="text" id="title" name="title" value="{{product.title}}" required>
  </div>

  <div class="form-group" style="width: 80%;">
    <label for="description" >Description:</label>
    <textarea id="description" name="description" rows="4" required>{{product.description}}</textarea>
  </div>

  <div class="form-group" style="width: 80%;">
    <label for="price" >Price:</label>
    <input type="number" id="price" name="price" value="{{product.price}}" required>
  </div>
  

 

  <div class="form-group">
    <label for="image" class="upload-btn" id="image-label">Upload Image</label>
    <input type="file" id="image" name="image" accept="image/*" value="{{product.image}}">
  </div>

  <div class="form-group">
    <input type="submit" value="Submit">
  </div>
</form>



<div>
  <label >Current Offer</label>
  <br>

  {% for but in offer %}
  <button id="" class="color-button btn"  style="padding:3px;margin: 2px; background-color: rgb(2, 2, 2);color:white; opacity: .8; border: 2px solid gray;font-size: 12px;letter-spacing: 0.2em;">{{but.title}} <br> +${{but.price}}.00</button>
  {%endfor%}

   <br><br>
  <label><b>Delete Offer</b></label>
  <br><br>
  <table>
    <tr>
      <th>id</th>
      <th>title</th>
      <th>price</th>
      <th>action</th>
    </tr>

    {% for off in offer %}
    <tr>
      <td>{{off.id}}</td>
      <td>{{off.title}}</td>
      <td>{{off.price}}</td>
      <td><a href="/delete_offer/{{off.id}}/{{product.id}}"><button class="btn" style="background-color: red;">Delete</button></a></td>

    </tr>
    {%endfor%}
  </table>
  <br><br>
</div>
<div class="form-group" style="width: 30%;">
  <label >Add Offer</label>
  <form id="productOfferForm">
    
    <label for="name" >Title:</label>
    <input type="text" id="name"  name="name" required><br><br>

    <label for="email" >Price:</label>
    <input type="Number" id="email" name="email" required><br><br>


    <input type="submit" value="Add Offer">
  </form>



</div>
</div>


<script>
  $(document).ready(function() {
    // Handle form submission
    $('#productOfferForm').submit(function(event) {
      event.preventDefault(); // Prevent default form submission

      // Get form data
      var formData = {
        name: $('#name').val(),
        email: $('#email').val(),
        id : '{{product.id}}'
      };

      // Send AJAX request
      $.ajax({
        type: 'POST',
        url: '/product_offer',
        data: JSON.stringify(formData),
        contentType: 'application/json',
        success: function(response) {
          // Handle success response
          alert('Product offer submitted successfully!');
          location.reload();
        },
        error: function(error) {
          // Handle error response
          console.log(error);
          alert('Error submitting product offer.');
        }
      });
    });
  });
</script>
</div>
{%else%}
<form method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="title" class="white-color">Title:</label>
      <input type="text" id="title" name="title" required>
    </div>

    <div class="form-group">
      <label for="description" class="white-color">Description:</label>
      <textarea id="description" name="description" rows="4" required></textarea>
    </div>

    <div class="form-group">
      <label for="price" class="white-color">Price:</label>
      <input type="number" id="price" name="price" required>
    </div>

    <div class="form-group">
      <label for="image" class="upload-btn" id="image-label">Upload Image</label>
      <input type="file" id="image" name="image" accept="image/*" required>
    </div>

    <div class="form-group">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>

<script>
  const fileInput = document.getElementById('image');
const label = document.getElementById('image-label');

fileInput.addEventListener('change', function() {
  if (fileInput.files.length > 0) {
    label.textContent = fileInput.files[0].name;
  } else {
    label.textContent = 'Choose Image';
  }
});
</script>
{%endif%}
<script src="{{ url_for('static', filename='js/whitegraph.js') }}"></script>
{% endblock%}
