{% extends 'nav.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cart_payment_form.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">


<style>
    button[disabled] {
            background-color: #ccc;
            cursor: not-allowed;
        }
</style>

<div class="lcontainer">
  <div class="payment-form2" style="background-color: white; padding: 30px;">
   
    <div class="row">
      <div class="col-md-3">
        Ship to
      </div>

      <div class="col-md-7"> {{user_data['company']}}, {{user_data['address']}}, {{user_data['city'] }} {{user_data['postal_code']}}, {{user_data['country']}}</div>
    
      <div class="col-md-2"> <a href="/payment_address">Change</a></div>
      
  </div>

 
    
  </div>
  <br>
    <div class="payment-form" style="background-color: white; padding: 30px;">

        <form id="payment-form">
          <div id="card-number"></div>
          <br>
          <label for="amount">Amount</label>
          <input type="hidden" id="address" name="address" value="{{user_data['address']}}">
          <input type="hidden" id="zip" name="zip" value="{{user_data['postal_code']}}">
          <input type="hidden" id="city" name="city" value="{{user_data['city']}}">
          <input type="hidden" id="state" name="state" value="{{user_data['country']}}">

          
          <input type="text" id="amount" class="form-control" name="amount" readonly>
          <br>
          <input type="number" placeholder="coupen number" name="copen" class="form-control">
          <br>
          <div class="row">
          <!-- <div></div> -->
          <label for="checkbox" style="color: red; margin-left: 1.5%;">No Money back, check if you are agree:</label>
          <div class="col-md-3">
          
        
          <input type="checkbox" id="checkbox" class="" style="transform: scale(2);">
        </div></div>
          <br>
          <button type="submit" id="submit-payment-btn" disabled class="">Submit Payment</button>
        </form>
      </div>
    
      <script>
        // Get references to the checkbox and button
        const checkbox = document.getElementById('checkbox');
        const button = document.getElementById('submit-payment-btn');

        // Add an event listener to the checkbox
        checkbox.addEventListener('change', function() {
            // Enable or disable the button based on the checkbox state
            if (checkbox.checked) {
                button.removeAttribute('disabled');
            } else {
                button.setAttribute('disabled', 'true');
            }
        });
    </script>

</div>

<script>
    const urlParams = new URLSearchParams(window.location.search);
    const amount = urlParams.get('amount');
    var amountInput = document.getElementById('amount');
    amountInput.min = amount;
    amountInput.max = amount;
    amountInput.value = amount;
</script>
<script src="https://js.stripe.com/v3/"></script>
<script src="{{ url_for('static', filename='js/cart_pay_form.js') }}"></script>
<script src="{{ url_for('static', filename='js/purplegraph.js') }}"></script>
{% endblock%}
