{% extends 'nav.html' %}

{% block content %}

<!-- <style>
  .square {
  margin-left: 2px;
  width: 10px;
  height: 18px;
  background-color: rgb(250, 250, 250);
  display: inline-block;
} -->

<style>

      .chat-container {
        /* padding: 20px; */
        border-radius: 5px;
        display: inline-block;
        font-family: Arial, sans-serif;
        direction: rtl;
      }

      .chat-container.left {
        direction: ltr;
      }

      .chat-message {
        color: #000000;
        font-size: 16px;
        line-height: 1.5;
      }

      .square {
        display: inline-block;
        width: 10px;
        height: 16px;
        background-color: #faf8f8;
        margin-left: 5px;
        animation: blink 0.7s infinite;
      }

      @keyframes blink {
        50% {
          opacity: 0;
        }
      }


      #timer-container {
            position: relative;
            display: inline-block;
        }

        #timer {
            font-size: 36px;
            background-color: #302c2c;
            padding: 10px;
            border-radius: 5px;
        }

        #dismissButton {
            position: absolute;
            top: 0;
            right: 0;
            background-color: #ff0000;
            color: #ffffff;
            padding: 5px 10px;
            border: none;
            cursor: pointer;
            border-radius: 0 5px 0 0;
        }
    </style>

<!-- </style> -->


<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/testing.css')}}">


<div style="text-align: center; color: white; margin-top: -5%; margin-bottom: 10%;">
  
  <div id="sale">sale ends in</div>
  <div id="timer-container">
    <div id="timer"></div>
    <button id="dismissButton">Dismiss</button>
  
</div>
    


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
<script>
    const socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('update_time', function(data) {
        let endTime = new Date(data.end_time);
        const timerContainer = document.getElementById('timer');
        const dismissButton = document.getElementById('dismissButton');
        const saleend = document.getElementById('sale');
        
        function updateTimer() {
            const currentTime = new Date().getTime();
            const timeRemaining = endTime - currentTime;

            if (timeRemaining <= 0) {
              timerContainer.style.display = "none";
            dismissButton.style.display = "none";
            saleend.style.display = "none";
            } else {
                const days = Math.floor(timeRemaining / (1000 * 60 * 60 * 24));
                const hours = Math.floor((timeRemaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                const minutes = Math.floor((timeRemaining / 1000 / 60) % 60);
                const seconds = Math.floor((timeRemaining / 1000) % 60);
                const formattedTime = `${days} days ${padZero(hours)}:${padZero(minutes)}:${padZero(seconds)}`;
                timerContainer.textContent = formattedTime;
            }
        }

        function padZero(number) {
            return number.toString().padStart(2, "0");
        }

        function dismissTimer() {
            clearInterval(timerInterval);
            timerContainer.style.display = "none";
            dismissButton.style.display = "none";
            saleend.style.display = "none";
        }

        updateTimer();
        const timerInterval = setInterval(updateTimer, 1000);

        document.getElementById("dismissButton").addEventListener("click", dismissTimer);
    });
</script>
</div>

<div class="canvas-container" style="margin-top: 5%;">
  

<div class="lcontainer" style="margin-top: -100px;">
  <div class="chat-container">
    <div class="chat-message" id="arabic-message"></div>
  </div>
  <br>
  <div class="chat-container left">
    <div class="chat-message" id="english-message"></div>
  </div>
</div>
</div>

<script>
  var speed = {{speed}};
  var balls_num = {{balls}};
  const arabic_text = {{ arabictext | safe }};
  const english_text = {{ englishtext | safe}};
  var colors = "{{color1.color}}";
  var color22 = {{ball_speed}};
  var color2 = typeof color22 !== 'undefined' ? color22 : 2;
</script>


<script src="{{ url_for('static', filename='js/greengraph.js') }}"></script>
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
{% endblock%}
