{% extends 'nav.html' %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/product.css')}}">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <!-- CSS -->
    <link href="{{ url_for('static', filename='css/style23.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <main class="container">

      <!-- Left Column / Headphones Image -->
      <div class="left-column">

        <img data-image="red" class="active" src="{{ url_for('uploaded_product_images', filename=product.image) }}" height="100%" alt="">
      </div>


      <!-- Right Column -->
      <div class="right-column" style="margin-top: 0px !important;">

        <!-- Product Description -->
        <div class="product-description">
          <!-- <span>Headphones</span> -->
          <h1>{{product.title}}</h1>
          <p>{{product.description}}</p>
        </div>
        <style>
          .selected {
              background-color: red;
              color: white;
          }
      </style>
        <!-- Product Configuration -->
        <div class="product-configuration">

          <!-- Product Color -->
          <div class="product-color">
            <div class="product-configuration">
             
              <div class="product-color">
                {%for off in offer[:1] %}
                <button id="iron-button" class="color-button btn selected" onclick="selectButton(this)" style="padding:3px; margin: 2px; background-color: rgb(255, 0, 0);color:white; opacity: .8; border: 2px solid gray; font-size: 12px; letter-spacing: 0.2em;">{{off.title}} <br> +${{off.price}}.00</button>
                {%endfor%}
                {% for off in offer[1:] %}
                <button id="iron-button" class="color-button btn" onclick="selectButton(this)" style="padding:3px; margin: 2px; background-color: rgb(2, 2, 2);color:white; opacity: .8; border: 2px solid gray; font-size: 12px; letter-spacing: 0.2em;">{{off.title}} <br> +${{off.price}}.00</button>
                {% endfor %}
              </div>
            </div>
          </div>
          <script>
            function selectButton(button) {
              var isSelected = button.classList.contains("selected");
              if (isSelected) {
                button.classList.remove("selected");
              } else {
                button.classList.add("selected");
              }
            }
          </script>
          
          <script>
            var selectedButton = null;
            var selectedPrice = 0;
          
            function selectButton(button) {
              var buttons = document.getElementsByClassName('color-button');
              var totalPriceElement = document.getElementById('product-price');
              var initialPrice = parseFloat(totalPriceElement.textContent);
              // initialPrice = 0;
              if (selectedButton !== null) {
                selectedButton.classList.remove('selected');
                initialPrice -= selectedPrice;
              }
          
              button.classList.add('selected');
              selectedButton = button;
              selectedPrice = parseFloat(button.innerText.split('+$')[1]);
              initialPrice += selectedPrice;
          
              for (var i = 0; i < buttons.length; i++) {
                buttons[i].style.backgroundColor = 'black';
                buttons[i].style.color = 'white';
              }
          
              button.style.backgroundColor = 'red';
              button.style.color = 'white';
          
              totalPriceElement.textContent = initialPrice.toFixed(2);
            }
          
            // Select the first button by default on the first run
            if (selectedButton === null) {
              var buttons = document.getElementsByClassName('color-button');
              if (buttons.length > 0) {
                selectButton(buttons[0]);
              }
            }
          </script>
          
          
          </script>
          <!-- Cable Configuration -->
          <div class="cable-config">

            <div class="cable-choose">


              <div class="counter-container">
                <button id="decrement" class="counter-button" style="background-color: rgb(0, 0, 0); color: white; opacity: 0.8;">-</button>
                <input id="counter" class="counter-input" style="background-color: rgb(0, 0, 0); color: white; opacity: 0.8;" type="number" min="1" value="1">
                <button id="increment" class="counter-button" style="background-color: rgb(0, 0, 0); color: white; opacity: 0.8;">+</button>
                
              </div>
              <!-- <button>Straight</button>
              <button>Coiled</button>
              <button>Long-coiled</button> -->
            </div>

            
          </div>
        </div>

        <!-- Product Pricing -->
        <div class="product-price">
          <span><div class="price-container">
            <span id="product-price">{% if not offer %}{{ product.price }}{%else%}
              
              {%for off in offer[:1]%}
              0
              {%endfor%}
              {%endif%}</span>$
          </div></span>
          <a href="#"  class="cart-btn add-to-cart" style="background-color: red !important" data-item-id="{{product.id}}">Add to cart</a>
        </div>
      </div>
    </main>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/script23.js') }}" charset="utf-8"></script>
  </body>
</html>



<script src="{{ url_for('static', filename='js/redgraph.js') }}"></script>
<script src="{{ url_for('static', filename='js/one_product.js') }}"></script>
{% endblock%}
