{% extends 'nav.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css')}}">

<div class="lcontainer">

<div class="profile-info">
    <div class="profile-picture">
        {%if current_user.image.startswith('https')%}
        <img src="{{current_user.image}}" alt="Profile Picture">
        {%else%}
        <img src="{{ url_for('uploaded_users_images', filename=current_user.image) }}" alt="Profile Picture">
        {%endif%}
    </div>
    <div class="profile-details">
        <p>Username: {{ current_user.username }}</p>
        <p>Email: {{ current_user.email }}</p>
        <a href="{{ url_for('edit_profile') }}"><button style="background-color: rgb(20, 224, 20); padding: 10px;">Edit</button> </a>
        
        <a href="/discord_login"><button  style="background-color: red; padding: 10px;">Connect with Discord</button></a>
    </div>
    
    
</div>

</div>

<script src="{{ url_for('static', filename='js/orangegraph.js') }}"></script>
{% endblock%}
