{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css')}}">

<style>
   .form-container {
        width: 300px;
        margin: auto;
        text-align: center;
    }

    .password-criteria {
        margin-top: 10px;
        font-size: 14px;
    }
    
    .password-criteria ul {
        list-style: none;
        padding-left: 0;
    }
    
    .password-criteria li::before {
        /* content: '✔ '; */
        color: green;
    }
    
    .password-criteria .invalid-criteria li::before {
        /* content: '✘ '; */
        color: red;
    }
</style>
<div class="background-container">
  <canvas id="canvas"></canvas>
</div>

<div id="flash-messages">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        {% if category == 'error' %}
          <div class="error">
            {{ message }}
          </div>
        {% else %}
          <div class="success">
            {{ message }}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>


<a href="{{url_for('home')}}" class="back-button">
    <div class="back-arrow"></div>
</a>
<div class="form-container">
  <h1>Register</h1>
  <form action="/register" method="post" onsubmit="return validateForm()">
      <input type="text" name="name" placeholder="Name" required>
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="password" id="passwordInput" placeholder="Password" required>
      <div class="password-criteria">
        <p>Password criteria:</p>
        <ul class="password-criteria invalid-criteria">
          <li class="criteria-length">At least 8 characters</li>
          <li class="criteria-uppercase">At least one uppercase letter</li>
          <li class="criteria-lowercase">At least one lowercase letter</li>
          <li class="criteria-digit">At least one digit</li>

      </ul>
    </div>
      <button type="submit">Register</button>
  </form>
  <p>Already have an account? <a href="{{url_for('login')}}">Login here</a></p>
</div>

<script>
  const passwordInput = document.getElementById('passwordInput');
  const criteriaLength = document.querySelector('.criteria-length');
  const criteriaUppercase = document.querySelector('.criteria-uppercase');
  const criteriaLowercase = document.querySelector('.criteria-lowercase');
  const criteriaDigit = document.querySelector('.criteria-digit');


  function updatePasswordCriteria() {
    const password = passwordInput.value;

    // Define the password strength criteria
    const minLength = 8;
    const uppercaseRegex = /[A-Z]/;
    const lowercaseRegex = /[a-z]/;
    const digitRegex = /[0-9]/;


    // Check each criteria
    const isLengthValid = password.length >= minLength;
    const hasUppercase = uppercaseRegex.test(password);
    const hasLowercase = lowercaseRegex.test(password);
    const hasDigit = digitRegex.test(password);


    // Update the style of each list item based on criteria
    criteriaLength.style.color = isLengthValid ? 'green' : 'red';
    criteriaUppercase.style.color = hasUppercase ? 'green' : 'red';
    criteriaLowercase.style.color = hasLowercase ? 'green' : 'red';
    criteriaDigit.style.color = hasDigit ? 'green' : 'red';
  }

  // Attach the event listener to the password input field
  passwordInput.addEventListener('input', updatePasswordCriteria);
</script>

<script>
  function checkPasswordStrength(password) {
      // Define the password strength criteria
      const minLength = 8;
      const uppercaseRegex = /[A-Z]/;
      const lowercaseRegex = /[a-z]/;
      const digitRegex = /[0-9]/;


      // Check each criteria
      const isLengthValid = password.length >= minLength;
      const hasUppercase = uppercaseRegex.test(password);
      const hasLowercase = lowercaseRegex.test(password);
      const hasDigit = digitRegex.test(password);


      // Calculate the overall password strength
      const isStrong =
          isLengthValid && hasUppercase && hasLowercase && hasDigit;

      return isStrong;
  }

  function validateForm() {
      const passwordInput = document.querySelector('input[name="password"]');
      const submitButton = document.querySelector('button[type="submit"]');

      const isPasswordStrong = checkPasswordStrength(passwordInput.value);
      if (!isPasswordStrong) {
          alert('Password is not strong enough. Make sure it meets the criteria.');
          passwordInput.focus();
          return false;
      }

      return true;
  }
</script>
<script>
  // Set the timeout to remove flash messages after 3 seconds
setTimeout(function() {
  var flashMessages = document.getElementById("flash-messages");
  if (flashMessages) {
    flashMessages.innerHTML = "";
  }
}, 3000);
</script>

<script src="{{ url_for('static', filename='js/orangegraph.js') }}"></script>
{% endblock %}