{% extends 'nav.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/leaderboard.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/user_card.css')}}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link href="{{ url_for('static', filename='css/style18.css')}}" rel="stylesheet" type="text/css" />
    
<style>

</style>

    </head>
      
    
    <div class="lcontainer">



<section class="rate" style="">

  <div class="container" >

    <h1 class="text-center text-white" style="margin-top: -130px;">Leaderboard Championships</h1>
    

    <div class="row " style="">
      {% for active_user in active_users[:3] %}
      <div class="col-md-4 place2">
        <div class="content second mb-2">
          <div class="card">
            <div class="card-img-top second" style="background-image: url('{{ url_for('uploaded_users_images', filename=active_user.banner) }}');">
              <p>#2</p>
            </div>
            <div class="card-body">
              <img src="{{ url_for('uploaded_users_images', filename=active_user.image) }}" alt="" class="avatar" onError="this.onerror=null;this.src='/uploads/RG17vQejvkOoAmQTaioY.png';">
              <h5 class="card-title">{{active_user.username}}</h5>
              <p>{{active_user.rank}}</p>
            </div>
          </div>
        </div>
      </div>
      {%endfor%}
  

    </div>






    <div class="row " style="">
      <div class="col-md-12">
        <article class="leaderboard text-center mt-5 mb-5">
          <header style="{%if color %} background-color: {{color.color}} !important;
          {%endif%}">
            
            <h1 class="" style="margin-top: 3%;"><span class="leaderboard__title--top">Rest of the Player Rank</span></h1>
          </header>
          <main class="leaderboard__profiles">

            {% for active_user in active_users[3:] %}
            <article class="leaderboard__profile">
              <img src="{{ url_for('uploaded_users_images', filename=active_user.image) }}" alt="-- " class="leaderboard__picture" onError="this.onerror=null;this.src='/uploads/RG17vQejvkOoAmQTaioY.png';">
              <span class="leaderboard__name">{{ active_user.username }}</span>
              <span class="leaderboard__value"> {{active_user.rank}}</span>
            </article>
            {%endfor%}
          </main>
        </article>
      </div>
    </div>



    
    {% if admin_list %}
    <div class="row " style="">
      <div class="col-md-10">

      </div>
      <div class="col-md-2">
        <article class="leaderboard text-center mt-5 mb-5" >
          <main class="leaderboard__profiles">

            {% if not is_in_board %}
            {% for admin_user in admin_list %}
            <article class="leaderboard__profile">
              <img src="{{ url_for('uploaded_users_images', filename=admin_user.image) }}" alt="-- " class="leaderboard__picture" onError="this.onerror=null;this.src='/uploads/RG17vQejvkOoAmQTaioY.png';">
              <!-- <span class="leaderboard__name">{{ admin_user.username }}</span> -->
              <span class="leaderboard__value">  <button
                onclick="createNotification('{{admin_user.id}}','ADD me to Leaderboard Rank Page!','lb_request','{{user.id}}')">Send</button></span>
            </article>
            {%endfor%}
            {% else %}
            <article class="leaderboard__profile">
              <span class="leaderboard__name"></span>
              <span class="leaderboard__name">You aready in the list You cant't send a request!</span>
              <span class="leaderboard__value"></span>
            </article>
            
            {% endif %}
          </main>
        </article>
      </div>
    </div>
{%endif%}






  </div>
</section>








<script src="{{ url_for('static', filename='js/leaderboard.js') }}"></script>
<script src="{{ url_for('static', filename='js/yellowgraph.js') }}"></script>
{%endblock%}
